:root {
    --main-color: #7AFDD6;
    --text-color: #FFFFFF; 
    --background-color: #333333;
    --light-text-color: #B3B3B3;
    --faded-text-color: #666666;
    --nav-background-color:#000000;
    --main-font: 'Helvetica', sans-serif;
    --code-font: 'Source Code Pro', monospace;
    --card-font: 'Source Sans Pro', sans-serif;
    --viewport-gutter: calc(100 * (100vw / 1080));
  }

.skillcard{
    border-color: var(--main-color) !important;
    border-width: 4px;
    font: var(--card-font);
    padding: 0;
    font-size: 32px;
    width: 300px;
    border-style: solid;
    margin-top: 10px;
    height: 156px;
    cursor: pointer;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1/4;
}

.skillcard span{
    font-size: 11px;
}

.skillcard div{
    line-height: 30px;
    padding-left: 30px;
    padding-top: 20px;
}

span{
    color: var(--main-color);
}

.homepage{
    font-family: var(--main-font);
    padding-left: var(--viewport-gutter);
    padding-right: var(--viewport-gutter);
    color: var(--text-color);
    display: flex !important;
    align-content: center;
    height: 100vh;
}
.code{
    font-family: var(--code-font);
    color: var(--faded-text-color);
    font-size: 15px;
}

.intro{
    font-size: 49px;
    line-height: 58px;
    font-weight: bold;
}

.open{
    text-align: left;
}

.content{
    text-align: center;
}

.close{
    text-align: right;
}

.aspire{
    font-size: 32px;
    line-height: 50px;
    color: var(--light-text-color);
}

.aspirelist{
    font-size: 19px;
    line-height: 50px;
    color: var(--light-text-color);
}


.contacts{
    display: flex;
}
.contact-circle{
    width: 34px !important;
    height: 34px;
    border-radius: 34px;
    background-color: var(--light-text-color);
    border-style: solid;
    border-width: 0;
    text-align: center;
    color: var(--nav-background-color);
    margin: 5px;
}

.contacticon{
    margin-top: 9px;
}

a{
    cursor: pointer;
}

.cardwrapper{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: auto, auto;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.cardwrapper::-webkit-scrollbar{
    border-radius: 10px;
    background-color: var(--main-color);
    height: 8px;
}
.cardwrapper::-webkit-scrollbar-track{
    height: 5px;
}
.cardwrapper::-webkit-scrollbar-thumb{
    background-color: var(--background-color);
    height: 1px;
    border-radius: 10px;
}
.cardwrapper::-webkit-scrollbar-track-piece{
    height: 5px;
}
.cardwrapper::-webkit-scrollbar-button{
    height: 5px;
}

.cursor{
    width: 1px;
    height: 50px;
    background-color: white;
    animation: blink 2s forwards;
}
.cursor-code{
    width: 1px;
    height: 24px;
    background-color: white;
    animation: blink 3s forwards;
}


@keyframes blink {
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        display: none;
    }
}

@keyframes hide {
    from{
        
    }
    to{
        display: none;
    }
}