:root {
  --main-color: #7AFDD6;
  --text-color: #FFFFFF; 
  --background-color: #333333;
  --light-text-color: #B3B3B3;
  --faded-text-color: #666666;
  --nav-background-color:#000000;
  --main-font: 'Helvetica', sans-serif;
  --code-font: 'Source Code Pro', monospace;
}

body{
  margin: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background-color: var(--background-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  position: absolute;
  width: 33px;
  height: 52px;
  margin: 20px;
}

nav{
  margin-top: 3% !important;
  width: 30% !important;
  background-color: var(--nav-background-color);
  height: 30px;
  border-radius: 10px;
  color: var(--light-text-color);
  position: fixed !important;
}