:root {
  --main-color: #7AFDD6;
  --text-color: #FFFFFF; 
  --background-color: #333333;
  --light-text-color: #B3B3B3;
  --faded-text-color: #666666;
  --nav-background-color:#000000;
  --main-font: 'Helvetica', sans-serif;
  --code-font: 'Source Code Pro', monospace;
  --logo-gutter: calc(20 * (100vw / 1080));
  --logo-height: calc(52 * (100vw / 1080));
  --logo-width: calc(33 * (100vw / 1080));
}



body{
  margin: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--background-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  position: absolute;
  width: var(--logo-width);
  height: var(--logo-height);
  margin: var(--logo-gutter);
}

nav{
  margin-top: 3% !important;
  width: 32% !important;
  background-color: var(--nav-background-color);
  height: 30px;
  border-radius: 10px;
  color: var(--light-text-color);
  position: fixed !important;
  text-align: center;
}

.nav-link{
  border-radius: 5px;
  transition: .7s !important;
}
.highlight{
  background-color: var(--main-color) !important;
  color: var(--nav-background-color) !important;
}